# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy 
3. SciPy
4. Pandas
5. Keras
6. Matplotlib
7. SciKit-Learn
8. PyTorch

|Data Science tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objective**
* List data science languages.
* List data science libraries. 
* Table of Data Science tools.
* Introducing arithmetic expression examples.
* Multiply and add numbers.

## Author
Tu Duong Quyet